div { background-color: lightblue;}

.nums 
{
display: flex;
flex-direction: column;
justify-content: center;

}

button {
    height: 50px;
    line-height: 48px;
    margin: 9px;
    width: 75px;
}