.container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
 }

 .center 
 {
     display: flex;
     justify-content: center;

  }

  .leftDisplay 
  {
    align-self: flex-start;
  }