@font-face 
{
  font-family: calcFont;
  src: url('public/Calculator.ttf');

}

body 
{
  background-color: rgb(33, 109, 175);
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('public/math.jpg');
  background-blend-mode: soft-light;
  background-size: contain;
}

button 
{
margin: 0.1rem;
padding: 10px;
background-color: lightblue;
box-shadow: 2px 1px rgb(56, 99, 107);
border-radius: 50%;
}

.calculator 
{
display: flex;
justify-content: center;

}
.display 
{ 
  display: flex;
  align-items: flex-end;
  font-size: 1.8rem;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
  color: rgb(77, 185, 77);
  font-weight: bold;
  font-family: calcFont;
  margin: 2px;
  flex-basis: 0px;
  width: 10px;
}



.center 
{
  border-radius: 25px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 8px 3px rgb(57, 155, 247);
  background: linear-gradient(10deg, rgba(39,200,86,1) 3%, rgba(75,228,225,1) 98%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end
 }

 .controls 
 {
   display: flex;
   flex-direction: column;
 }

 .controls > div 
 {
   display: flex ;
 }

 .controls > div * 
 {
   flex: 1;
 }
.number  
{
background-color: rgb(201, 81, 81);
}

.screen 
{
display: flex;
flex: 0;justify-content: center;
border: 1px black solid ;
border-radius: 10px;
background-color: white;
}